[submodule "MaterialProperties"]
	path = MaterialProperties
	url = https://github.com/sgbaird/MaterialProperties.git
[submodule "TeXport"]
	path = TeXport
	url = https://github.com/sgbaird/TeXport.git
[submodule "cif-import"]
	path = CifImport
	url = https://github.com/biancaeifert/cif-import.git
[submodule "MaXrd"]
	path = MaXrd
	url = git@github.com:Stianpr20/MaXrd.git
