[submodule "MaterialProperties"]
	path = MaterialProperties
	url = https://github.com/sgbaird/MaterialProperties.git
[submodule "TeXport"]
	path = TeXport
	url = https://github.com/sgbaird/TeXport.git
